<h1><%= @list.name %></h1>

<div>
  <% @list.bookmarks.each do |bookmark| %>
    <h2>Title: <%= bookmark.movie.title %></h2>
    <p>Overview: <%= bookmark.movie.overview %></p>
    <p>Comment: <%= bookmark.comment %></p>
  <% end %>
</div>

<%= link_to 'Add a movie', new_list_bookmark_path(@list) %>
